# Artificial Neural Network

## Part-1: Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

## Part-2: Data Preprocessing

### Importing the dataset

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Manipulating the DataFrame

In [4]:
X = df.iloc[:,3:-1]
Y = df.iloc[:,-1]

In [5]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [6]:
X.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [7]:
Y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [8]:
Y.dtypes

dtype('int64')

### Missing Data

In [9]:
df.isna().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

### Exploratory Data Analysis

### Encoding Categorical Data

Label Encoding "Gender" Column

In [10]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
X.iloc[:,2] = labelencoder.fit_transform(X.iloc[:,2])

In [11]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64
9996,516,France,1,35,10,57369.61,1,1,1,101699.77
9997,709,France,0,36,7,0.00,1,0,1,42085.58
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52
9999,792,France,0,28,4,130142.79,1,1,0,38190.78

One Hot Encoding of "Geography" column

In [18]:
X1 = X.values

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder',OneHotEncoder(),[1])],remainder='passthrough')
X1 = np.array(ct.fit_transform(X1))

In [20]:
X1

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [21]:
X1[1,:]

array([0.0, 0.0, 1.0, 608, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
      dtype=object)

### Splitting the dataset into Training & Testing Set

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X1,Y,test_size=0.2,random_state = 0)

### Feature_Scaling

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part-3: Building the ANN

### Initialize the ANN

In [25]:
ann = tf.keras.models.Sequential()

### Adding the i/p layer and first hidden layer

In [26]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding second hidden layer

In [27]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding O/P layer

In [28]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

## Part -4: Training the ANN

### Compile the ANN

In [29]:
ann.compile(optimizer = 'adam',loss='binary_crossentropy',metrics=['accuracy'])

### Training the ANN on training set

In [30]:
ann.fit(X_train,Y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 3s 2ms/step - loss: 0.5292 - accuracy: 0.7955
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4744 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4552 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4434 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4348 - accuracy: 0.7983
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4285 - accuracy: 0.8059
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4231 - accuracy: 0.8106
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4191 - accuracy: 0.8177
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4149 - accuracy: 0.8225
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4109 - accuracy: 0.8257
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4068 - accuracy: 0.8294
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4019 - accuracy: 0.8301
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3957 - accuracy: 0.8370
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3892 - accuracy: 0.8389
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3824 - accuracy: 0.8436
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3753 - accuracy: 0.8474
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8494
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.8514
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3562 - accuracy: 0.8526
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3524 - accuracy: 0.8549
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8569
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8576
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8572
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8575
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8580
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8580
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8600
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8585
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8601
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8597
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8611
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8604
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8594
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3386 - accuracy: 0.8618
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8612
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3380 - accuracy: 0.8605
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8621
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8625
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8629
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8619
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8614
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8636
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8625
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8639
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8637
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8625
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8630
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8620
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8630
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8636
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8633
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8626
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8626
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8643
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8626
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8633
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8646
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8644
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3346 - accuracy: 0.8649
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3347 - accuracy: 0.8626
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3344 - accuracy: 0.8634
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8661
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8631
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8634
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8635
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8643
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8622
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8643
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8645
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8639
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8635
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8649
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8636
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8646
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8645
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8636
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8654
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8634
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8630
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8627
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8633
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8639
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8636
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8644
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8652
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8640
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8641
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8645
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8637
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8652
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8661
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8674
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8659
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8654
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8651
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8659
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8633
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8639
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3321 - accuracy: 0.8648
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8651

## Part-5: Making the predictions and evaluating the method

In [36]:
y_test = Y_test.values
y_test = np.array(y_test)

In [61]:
y_pred = ann.predict(X_test)
y_pred = (y_pred>0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [63]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[1518   77]
 [ 207  198]]

0.858